<div id="content" >
<%= form_for @holiday, url: '/holiday', html: { method: :post } do |f| %>
  <% if(@holiday.errors.any?) %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :country_id %> <br />
    <!-- <%= f.number_field :country_id  %> -->
    <%= f.select( :country_id, (Country.all.collect { |c| [c.name, c.id] }).unshift(["All/International",nil]))%>
    <br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
