<div id="content">
  <!-- Form for the api including country, year on submit execute helper method that imports data to holiday model-->
  <!-- make sure to check that said country exists, if it doesnt, reject the request and redirect to country creation-->
  <!-- if if does create associations to that country -->
</div>
