<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to site_name(), root_path , id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "New Holiday", new_holiday_path %></li>
          <li><%= link_to "Import", import_new_path %></li>
        </ul>
      </nav>
    </div>
</header>
